*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* navbar */

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    ;
}

.nav-logo{
    height: 50px;
    width: 112px;
}

.logo{
    background-image: url("/images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 2px solid transparent;

}

.border:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

.add-first{
    color: #cccccc;
    font-size: 0.80rem;
    padding-top: 5px;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon{
    display: flex;

}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* background-color: pink; */
    width: 780px;
    height: 40px;
    border-radius: 10px;
    

}

.select-all{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
    
}

.input-search{
    width: 100%;
    border: none;
    font-size: 1rem;

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(223, 167, 35);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

.nav-search:hover{
    border: 3px solid rgb(223, 167, 35);
}

span{
    font-size: 0.80rem;

}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    
}

.nav-cart i{
    font-size: 30px;
    margin-left: 25px;
}

.icon-cart span{
    font-size: 16px;
    font-weight: 700;
}


.nav-line-2{
    display: flex;
    margin-left: 15px;
}

.en{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 3px;
}

.nav-signin{
    margin-left: 20px;
}

.return{
    margin-left: 50px;
}

.nav-cart{
    margin-left: 50px;
}

.cart{
    margin-left: 50px;
    margin-bottom: 30px;
}

/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}



.panel-all{
    margin-left: 5px;
    font-weight: 700;
    
}

 .panel-ops{
    width: 70%;
    font-weight: 500;
} 

.panel-ops p{
    display: inline;
    width: 70%;
    padding: 6px;
}

.panel-deals{
    margin-right: 5px;
    font-weight: 700;
}


/* hero section */

.hero-section{
    background-image: url('images/hero_image.jpg');
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 15px;
    font-weight: 500;


}

.hero-message a {
    text-decoration: none;
    color: #007185;
    font-size: 0.85rem;
}

/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    margin-top: 10px;

}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    /* margin-top: -10px; */
}

.box-content{
    margin-left: 15px;
    margin-right: 15px;
}



.img1{
    height: 300px;
    width: 320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.gren{
    color: #007185;
}

.signin-section{
    height: 165px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

}

.bsign{
    width: 230px;
    height: 28px;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(223, 167, 35) ;
    border: none;
    border-radius: 5px;
}


body > div.signin-section > p >a{
    text-decoration: none;
    color: #007185;
    
}

.start-flex{
    position:inline-block;
}

footer{
    margin-top: 10px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    font-size: 1.2rem;
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

ul{
    margin-top: 10px;
}

ul>p{
    font-size: 1.3rem;

}

ul > a {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    
}